<%= form_with local: true do |f| %>
<div>
    <label>国語</label>
<%= f.text_field :point %>
</div>

<div>
    <label>数学</label>
    <%= f.text_field :point %>
</div>

<div>
    <label>英語</label>
    <%= f.text_field :point %>
</div>

<div>
    <label>理科</label>
    <%= f.text_field :point %>
</div>

<div>
    <label>社会</label>
    <%= f.text_field :point %>
</div>
<%= f.submit "送信" %>
<% end %>